  <!-- start: Footer Section -->
  {% load static %}
  <footer class="tj-footer-section footer-1 section-gap-x">
    <div class="footer-main-area">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="footer-widget wow fadeInUp" data-wow-delay=".1s">
              <div class="footer-logo">
                <a href="index.html">
                  <img src="assets/images/logos/logo.webp" alt="Logos">
                </a>
              </div>
              
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="footer-widget widget-nav-menu wow fadeInUp" data-wow-delay=".3s">
              <h5 class="title">Xidmətlər</h5>
              <ul>
                {% for service in services|slice:":6" %}
                    <li><a href="{% url 'service_detail' service.slug %}">{{ service.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-6">
            <div class="footer-widget widget-nav-menu wow fadeInUp" data-wow-delay=".5s">
              <h5 class="title">Resurslar</h5>
              <ul>
                  <li><a href="about.html">Haqqımızda</a></li>
                  <li><a href="/services">Xidmətlər</a></li>
                  <li><a href="portfolio.html">Tərəfdaşlar</a></li>
                  <li><a href="team.html">Direktorlar</a></li>
                  <li><a href="/blogs">Xəbərlər</a></li>
                  <li><a href="pricing.html">Qiymət</a></li>                 
                </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-5 col-md-6">
            <div class="footer-widget widget-subscribe wow fadeInUp" data-wow-delay=".7s">
              <h3 class="title">Abunə olun..</h3>
              <div class="subscribe-form">
                <form action="#">
                  <input type="email" name="email" placeholder="E-mail ünvanınızı daxil edin" required>
                  <button type="submit"><i class="tji-plane"></i></button>
                  <label for="agree"><input id="agree" type="checkbox"> Şərtlər və Qaydaları qəbul edirəm?</label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tj-copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="copyright-content-area">
              <div class="footer-contact">
                <ul>
                  <li>
                    <a href="tel:10095447818">
                      <span class="icon"><i class="tji-phone-2"></i></span>
                      <span class="text">+1 (009) 544-7818</span>
                    </a>
                  </li>
                  <li>
                    <a href="mailto:info@bexon.com">
                      <span class="icon"><i class="tji-envelop-2"></i></span>
                      <span class="text">info@bexon.com</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="copyright-text">
                <p>&copy; 2025 <a href="https://themeforest.net/user/theme-junction/portfolio" target="_blank">SAHRA</a>
                  Bütün huquqlar qorunur</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-shape-1">
      <img src="{% static 'images/shape/pattern-2.svg' %}" alt="">
    </div>
    <div class="bg-shape-2">
      <img src="{% static 'images/shape/pattern-3.svg' %}" alt="">
    </div>
  </footer>
  <!-- end: Footer Section -->